<a href="https://colab.research.google.com/github/ecardoso/dataScience/blob/main/Prompting_REST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

dados = pd.read_csv('/content/ratings.csv')

print(dados["rating"].unique())
print(dados["rating"].median())
dados["rating"].value_counts()

[4.  5.  3.  2.  1.  4.5 3.5 2.5 0.5 1.5]
3.5

rating
4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: count, dtype: int64